/* Colors */
@primary-lightest: #9FEEEE;
@primary-light: #6ADCDC;
@primary-medium: #43CACA;
@primary-dark: #24B6B6;
@primary-darkest: #01A2A2;

@secondary-lightest: #ADB2F2;
@secondary-light: #7F86E4;
@secondary-medium: #5B64D6;
@secondary-dark: #3D47C7;
@secondary-darkest: #1A26B7;

@tertiary-lightest: #C7FAA7;
@tertiary-light: #A8F576;
@tertiary-medium: #8EEF50;
@tertiary-dark: #77E92E;
@tertiary-darkest: #5AE301;

/* Spacing */
@relative-large: 3em;
@relative-medium: 1.4em;
@relative-small: 0.8em;

@fixed-medium: 8px;

/* Borders */
@border-radius-large: 10px;
@border-solid: 2px solid black;

@font-size: 20px;
@font-size-large: 32px;

@font-weight-normal: 400;
@font-weight-bold: 700;
